apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo-rollouts-quarkus-demo

resources:
- namespace.yaml
- service-canary.yaml
- service-stable.yaml
- rollout.yaml
- analysistemplate-ai-agent.yaml
- route.yaml
- plugin-rbac.yaml
- rbac.yaml

patches:
  - target:
      version: v1alpha1
      group: argoproj.io
      kind: Rollout
      name: argo-rollouts-quarkus-demo
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: quay.io/kevindubois/argo-rollouts-quarkus-demo:1.0.1
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: "failure"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: ROLLOUT_NAME
          value: "argo-rollouts-quarkus-demo"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: ROLLOUT_NAMESPACE
          value: "argo-rollouts-quarkus-demo"

