apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-gitops

resources:
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  # secret.yaml is managed manually (not in git due to .gitignore)
  # Create it from template: cp secret.yaml.template secret.yaml
  # Then edit secret.yaml with actual values and apply

